.block__media-text {

    &.block__media-text--standard {
        margin: 4rem 0;

        @include bp(desktop) {
            margin: 10rem 0;
        }

        .media-text__media {
            margin-bottom: 2rem;

            @include bp(desktop) {
                margin-bottom: 0;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

        .media-text__content {

            h3,
            p {
                color: $charcoal;
            }

            h3 {
                margin-bottom: 2rem;
                font-size: 2.2rem;
                line-height: 3rem;

                @include bp(tablet) {
                    margin-bottom: 3rem;
                    font-size: 2.2rem;
                    line-height: 3.2rem;
                }
            }

            p {
                margin-top: 0;

                &:last-of-type {
                    margin-bottom: 0;
                }


                @include bp(tablet) {
                    line-height: 3.2rem;
                }
            }
        }
    }

    &.block__media-text--large {
        background-color: $light-grey;

        .media-text__content {
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            padding: 0 0 3rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            order: 2;

            @include bp(tablet) {
                padding: 0 0 4rem 0;
            }

            @include bp(desktop) {
                flex: 1;
                width: auto;
                max-width: 510px;
                max-height: 700px;
                margin-left: 7.5rem;
                margin-right: unset;
                padding: 10rem 0;
                order: unset;
            }

            @include bp(desktop-xl) {
                margin-left: 15rem;
                padding: 20rem 0;
            }

            h2 {
                margin-bottom: 2rem;
                color: $primary;

                @include bp(desktop) {
                    max-width: 415px;
                }
            }

            p {
                margin-top: 0;
                font-size: 1.6rem;
                color: $charcoal;

                @include bp(tablet) {
                    font-size: 2rem;
                    line-height: 3.2rem;
                }
            }

            .button-box {
                margin-top: 1.5rem;
            }
        }

        .media-text__media {
            width: 100%;
            margin-bottom: 2rem;
            order: 1;

            @include bp(tablet) {
                margin-bottom: 4rem;
            }

            @include bp(desktop) {
                // width: calc(50vw - 9px);
                // width: calc(50vw - ((100vw - 100%)/2));
                width: 50vw;
                // min-width: 50vw;
                // max-width: 50vw;
                max-height: 700px;
                margin-bottom: 0;
                order: unset
            }

            img {
                width: 100vw;
                height: 100%;
                max-height: 700px;
                transform: translateX(-5vw);
                display: block;
                object-fit: cover;

                @include bp(tablet) {
                    // width: 100%;
                    // height: 100%;
                    // transform: none;
                }

                @include bp(desktop) {
                    width: 100%;
                    height: 100%;
                    min-height: 500px;
                    transform: none;
                }

                @include bp(desktop-xl) {
                    min-height: 630px;
                }
            }
        }

        &.block__media-text--flipped {

            .media-text__content {
                margin-left: 0;
                margin-right: 0;

                @include bp(desktop) {
                    margin-right: 7.5rem;
                }

                @include bp(desktop-xl) {
                    margin-left: 0;
                    margin-right: 15rem;
                }
            }
        }
    }
}