.block__related-posts {
    margin: 13rem 0 6.5rem 0;

    .container {
        padding-bottom: 9rem;
        border-bottom: 1px solid $regular-grey;
    }

    .section-heading {
        margin-bottom: 7.5rem;
    }
}