---
layout: default
section_id: about
members:
  - name: Neil Lawrence
    position: Professor of Machine Learning
    desc:
      Neil is the inaugural DeepMind Professor of Machine Learning at the University of Cambridge. He recently returned to academia after three years as Director of Machine Learning at Amazon. His main interest is the interaction of machine learning with the physical world. This interest was triggered by deploying machine learning in the African context, where ‘end-to-end’ solutions are normally required. This has inspired new research directions at the interface of machine learning and systems research. 
    avatar: images/Neil.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/lawrennd
  - name: Jessica Montgomery
    position: Executive Director
    desc:
      Jessica is Executive Director of the Accelerate Programme for Scientific Discovery. She is also Director of the Data Trusts Initiative, a project tackling the actions needed to create trustworthy data governance frameworks. Her interests in AI and its consequences for science and society stem from her policy career, in which she worked with parliamentarians, leading researchers and civil society organisations to bring scientific evidence to bear on major policy issues.
    avatar: images/Jess.jpg
    socials:
  - name: Carl Henrik Ek
    position: Senior Lecturer
    desc:
      Carl Henrik Ek is a senior lecturer at the University of Cambridge. His research is focused on building sound statistical models that are applicable to real world data. Most of his work to date have been on Bayesian non-parametric models which allows for principled treatment of uncertainty, easy interpretability and adaptable complexity. He is also interested in the developing field of probabilistic numerics and have as such worked on reinforcement learning and Bayesian optimisation.
    avatar: images/CarlHenrik.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/carlhenrikek
  - name: Victoria Barrett
    position: Accelerate Programme Coordinator
    desc:
      Victoria is Coordinator for the Accelerate Programme for Scientific Discovery. Victoria supports the team's activities in research, education and learning, and engagement. 
<br />
<br />
    avatar: images/APSci_place-holder.jpg
    socials:






  - name: Bingqing Cheng
    position: Departmental Early Career Academic Fellow
    desc:
      Bingqing's research uses computer simulations to understand and predict material properties, with a particular focus on exploiting machine-learning (ML) methods to extend the scope of atomistic simulations. She has investigated phenomena and problems including interfaces, nucleation, crystal plasticity, nuclear quantum effects, crystal defects, and thermodynamic stabilities of materials.    
    avatar: images/Bingqing.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/chengbingqing
  - name: Bianca Dumitrascu
    position: Departmental Early Career Academic Fellow
    desc:
      Bianca works at the intersection of machine learning and genetics. Her main research interest is understanding how local molecular rules give raise to emergent spatial patterns in the context of biological dynamical systems. To this end, she uses techniques from statistical optimization, statistical physics and domain adaptation to identify contextual phenotypes in spatial transcriptomic data and to understand the identity of single cells and their interactions in early development. She is also interested in active learning and graphical neural networks as models to study the effects and side-effects of drug cocktails.
    avatar: images/Bianca.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/bidumit
  - name: Challenger Mishra
    position: Departmental Early Career Academic Fellow
    desc:
     Challenger is a theoretical physicist working on the long-standing problem of quantising gravity. A Rhodes scholarship allowed him to pursue his passion in understanding fundamental physical processes, by undertaking doctoral work on String theory at the Rudolf Peierls Centre for Theoretical Physics, University of Oxford. His recently completed thesis contributed towards a deeper understanding of how String theory could explain some of the fundamental mysteries of the universe. Currently, he is working on problems in theoretical machine learning, and exploiting its various tools to understand String theory as a problem in big data.
    avatar: images/Challenger.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/challenger1987
  - name: Sarah Morgan
    position: Departmental Early Career Academic Fellow
    desc:
      Sarah's research applies machine learning, network science and Natural Language Processing to better understand and predict mental health conditions. A main focus is using brain connectivity derived from MRI to predict disease trajectories for patients with schizophrenia. Sarah is also interested in using transcribed speech data to perform similar prediction problems.
    avatar: images/SarahM.jpg
    socials:
      - icon_class: fa fa-twitter
        url: http://twitter.com/sarah_morgan_uk

advisory:
  - name: Ann Copestake
    position: Head of the Department of Computer Science and Technology
    desc:  
    avatar: images/Ann.jpg
  - name: Mark Girolami
    position: Professor of Computing and Inferential Science
    desc:  
    avatar: images/Mark.jpg
  - name: Austen Lamacraft
    position: Professor of Theoretical Physics
    desc:  
    avatar: images/Austen.jpg
  - name: Neil Lawrence
    position: DeepMind Professor of Machine Learning
    desc:  
    avatar: images/Neil.jpg
  - name: Sarah Teichmann
    position: Director of Research, Department of Physics, and Head of Cellular Genetics, Wellcome Sanger Institute
    desc:  
    avatar: images/SarahT.jpg
  - name: Richard Turner
    position: Professor of Machine Learning
    desc:
    avatar: images/Rich.jpg
  
---

<style>
  .modTeamMember{min-height:500px; margin-bottom:25px;}

  [class*="column"] + [class*="column"]:last-child {
    float: left;
}
</style>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999'>Learn more</h4>
      <h2>About Us</h2>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-8 columns'>
     
     
      <p>Artificial intelligence (AI) has the potential to become an engine for scientific discovery across disciplines – from predicting the impact of climate change, to using genetic data to create new healthcare treatments, and from finding new astronomical phenomena to identifying new materials here on Earth. 
      </p>
      <p>
        The Accelerate Programme for Scientific Discovery will advance the frontiers of science through the application of AI.
      </p>  
      <p>
        Supported by a donation from <a href='https://schmidtfutures.com/' target='_blank'>Schmidt Futures</a>, a philanthropic initiative founded by Eric and Wendy Schmidt, the Accelerate Programme will provide young researchers with specialised training in AI techniques, equipping them with the skills they need to use machine learning and AI to power their research.
      </p>  
      <p>
        By pursuing an ambitious research agenda that applies machine learning to the scientific challenges of the 21st century, the Programme will generate insights that accelerate scientific progress and create AI tools that are capable of delivering benefits for science and society.
      </p>     
    </div>
    <div class='medium-4 columns'>
      <img class="fadeinright" width="500" height="336" alt="" src="images/@stock/schmidt-futures-support.jpg" />
    </div>
  </div>
 
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Our team</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in page.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.url}}/{{ site.baseurl}}/{{member.avatar}}" />
            <div class='overlay'>
              <ul class='socials'>
                {% for social in member.socials %}
                  <li>
                    <a href='{{social.url}}'>
                      <i class='{{social.icon_class}}'></i>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <p>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h3>Advisory Group</h3>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in page.advisory %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember style-2'>
          <div class='member'>
            <img class="avatar" alt="" src="{{site.baseurl}}/{{member.avatar}}" />
          </div>
          <h3>{{member.name}}</h3>
          <p class='position'>{{member.position}}</p>
          <!--<p>{{member.desc}}</p>-->
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='three spacing'></div>
</div>

<!--<div class='row'>
  <div class='large-12 columns'>
    <h3>Advisory Group</h3>
    <div class='spacing'></div>
    <ul class='shortcode-list'>
      <li>
        <i class='fa fa-check'></i>
        Ann Copestake, Head of the Department of Computer Science and Technology
      </li>
      <li>
        <i class='fa fa-check'></i>
        Mark Girolami, Professor of Computing and Inferential Science
      </li>
      <li>
        <i class='fa fa-check'></i>
        Austen Lamacraft, Professor of Theoretical Physics
      </li>
      <li>
        <i class='fa fa-check'></i>
        Neil Lawrence, DeepMind Professor of Machine Learning
      </li>
      <li>
        <i class='fa fa-check'></i>
        Richard Turner, Reader in Machine Learning
      </li>
      <li>
        <i class='fa fa-check'></i>
        Sarah Teichman, Director of Research, Department of Physics, and Head of Cellular Genetics, Wellcome Sanger Institute

      </li>
    </ul>
    <div class='three spacing'></div>
  </div>
</div>-->






