---
layout: page
title: About Us
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">About us</h1>
        </div>
    </div>
</section>

<section class="block block__media-text block__media-text--standard">
    <div class="container">
        <div class="row row--justified">
            <div class="media-text__media column-m-12-nest column-d-5">
                <img src="../assets/uploads/schmidt-futures-donation.png">
            </div>
            <div class="media-text__content column-m-12-nest column-d-6">
                <h3>Artificial intelligence (AI) has the potential to become an engine for scientific discovery across disciplines – from predicting the impact of climate change, to using genetic data to create new healthcare treatments, and from finding new astronomical phenomena to identifying new materials here on Earth.</h3>
                <p>The Accelerate Programme for Scientific Discovery will advance the frontiers of science through the application of AI. Supported by a donation from Schmidt Futures, a philanthropic initiative founded by Eric and Wendy Schmidt, the Accelerate Programme will provide young researchers with specialised training in AI techniques, equipping them with the skills they need to use machine learning and AI to power their research. By pursuing an ambitious research agenda that applies machine learning to the scientific challenges of the 21st century, the Programme will generate insights that accelerate scientific progress and create AI tools that are capable of delivering benefits for science and society.</p>
            </div>
        </div>
    </div>
</section>

<section class="block block__team">
    <div class="container">
        <div class="team__tabs">
            <button class="active" data-team-id="main">Our Team</button>
            <button data-team-id="advisory-group">Advisory Group</button>
            <button data-team-id="alumni">Alumni</button>
        </div>

        <div class="team__grid" data-team-content="main">
            {% for item in site.team %}
                <a href="{{ item.url }}" class="team__member">
                    <div class="team__member-image">
                        <img src="{{item.featured_image}}" alt="Image of {{item.title}}">
                    </div>
                    <div class="team__member-details">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                        <span class="button">Read Bio</span>
                    </div>
                </a>
            {% endfor %}

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>

            <div class="team__member">
                <div class="team__member-image">
                    <img src="../assets/uploads/neil-lawrence.jpeg">
                </div>
                <div class="team__member-details">
                    <h3>Neil D. Lawrence</h3>
                    <p>The Deepmind Professor of Machine Learning</p>
                    <a class="button" href="#">Read Bio</a>
                </div>
            </div>
        </div>

        <div class="team__grid inactive" data-team-content="advisory-group"></div>
        <div class="team__grid inactive" data-team-content="alumni"></div>
    </div>
</section>