---
layout: page
title: Blog
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.baseurl}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Software Engineering</h1>
        </div>
    </div>
</section>

<section class="block block__posts">
    <div class="container">
        <div class="posts__featured">
            <a class="post__post post__post--featured" href="#">
                <div class="post__post-thumbnail">
                    <img alt="" src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>NEWS CATEGORY</h4>
                    <h3>News heading goes in here</h3>
                    <p class="date">20th July, 2022</p>
                    <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisis justo nec leo dapibus, eu ultricies lectus dictum. Pellentesque sit amet blandit ex.</p>
                    <span class="button">Read More</span>
                </div>
            </a>
        </div>

        <div class="posts__filter">
            <div>
                <h5>Search</h5>
                <input placeholder="Search query goes in here" type="text">
            </div>
            <div>
                <h5>Filter by category</h5>
                <select id="" name="">
                    <option value="category-1">Category 1</option>
                    <option value="category-2">Category 2</option>
                    <option value="category-3">Category 3</option>
                    <option value="category-4">Category 4</option>
                </select>
            </div>
        </div>

        <div class="posts__grid post__grid">
            {% for post in site.posts %}
                <a class="post__post" href="{{ item.url }}">
                    <div class="post__post-thumbnail">
                        <img src="{{ item.featured_image }}">
                    </div>
                    <div class="post__post-content">
                        <h4>{{ item.category | replace: "-", " " }}</h4>
                        <h3>{{ item.title}}</h3>
                        <p class="date">{{ item.date | date: "%-d %B %Y" }}</p>
                        <span class="button">Read More</span>
                    </div>
                </a>
            {% endfor %}
        </div>
        <div class="posts__load-more">
            <span></span>
            <a class="button button--large" href="#">
                Show More
                <img src="../assets/images/plus.svg">
            </a>
            <span></span>
        </div>
    </div>
</section>