---
layout: default
section_id: home
slides:
  - bg: images/slider/1.jpg
    title: Accelerate Science
    info: Advancing scientific discovery with machine learning
    invert: False
    animation: bottom-to-top
    class: large-11 medium-11
    color: "#ffae0d"
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Read More
          url: https://acceleratescience.github.io/latest.html
          class: boxed
  - bg: images/slider/2.jpg
    title: Could AI accelerate your science?
    info: Join our  data science for science course
    invert: True
    animation: bottom-to-top
    class: large-8 medium-11
    color: "#ffae0d"
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Read More
          url: https://acceleratescience.github.io/spark-course-summary.html
          class: boxed
  - bg: images/headers/our-research.jpg
    title: An AI revolution in science?
    info: Join our next event
    invert: True
    color: "#8c31ce"
    animation: bottom-to-top
    class: large-8 medium-11
    buttons:
      animation: bottom-to-top
      class: medium-12
      items:
        - text: Read More
          url: https://acceleratescience.github.io/events.html
          class: boxed
boxes:
  - icon_class: fa fa-star-half-empty
    title: Research
    image: research 1.svg
    text:
      Accelerate Science pursues research that applies machine learning to the scientific challenges of the 21st century, generating insights that accelerate scientific progress and creating AI tools that are capable of delivering benefits for science and society.
    link: research.html
    link_text: Discover
  - icon_class: fa fa-image
    title: Education and training
    image: Education and training 2.svg
    text:
      Accelerate Science is creating learning and development opportunities that help equip researchers with the machine learning skills and tools they need to drive a new wave of scientific progress.<br/><br/>
    link: get-involved.html
    link_text: Discover
  - icon_class: fa fa-dot-circle-o
    title: Engagement
    image: Engagement.svg
    text:
      <br/>Accelerate Science is building a community of researchers committed to advancing the use of machine learning across research domains, with the aim of accelerating scientific discovery.<br/><br/><br/>
    link: events.html
    link_text: Discover
milestones:
  - from: 0
    to: 69
    title: Projects Completed
  - from: 0
    to: 726
    title: Cups of coffee offered
  - from: 0
    to: 59
    title: Happy clients
  - from: 0
    to: 21
    title: Articles Published

latest_news:
  - text: "On 13 July, Professor Neil Lawrence will give a keynote at the University of Tuebingen's Annual Conference on Machine Learning in Science about how to design machine learning systems for real-world challenges. Find out more about our upcoming events here."
    title: Machine learning and the physical world
    date: July 2021
    link: events.html
    link_text: Read More
  - text: "Read more about how graduates from our Data Science for Science Residency are using machine learning in their research"
    title: How can AI revolutionise your science?
    date: July 2021
    link: blog.html
    link_text: Read More
  - text: "Welcome to the Accelerate Programme! This new initiative will be advancing research at the interface of machine learning and the sciences."
    title: Accelerate website launches
    date: April 2021
    link: blog.html
    link_text: Welcome!

---

<style>
  .box{background-color:white; padding:25px; width:30%; text-align:center; display:flex; flex-direction:column; justify-content: space-between;}

@media only screen and (max-width: 680px) {
  .box{width:100%; margin-bottom:25px;}
}

</style>

<div class='advanced mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          <li class='current'></li>
        {% else %}
          <li></li>
        {% endif %}
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.index == 1 %}
          {% assign class = "static" %}
        {% else %}
          {% assign class = '' %}
        {% endif %}

        <li class='frame {{class}}'>
          <div class='bg' style='background-image: url({{site.baseurl}}/{{slide.bg}});'></div>
          {% if slide.infos %}
            {% for info in slide.infos %}
              <div class='info{{forloop.index}} {{info.animation}}'>
                <div class='row'>
                  <div class='medium-10 large-8 columns'>
                    <p class='fa fa-check' style='color: #333;'>{{info.text}}</p>
                    <div class='spacing'></div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class='title {{slide.animation}}' style='color: rgb(255, 255, 255);'>
              <div class='row'>
                <div class='{{slide.class}} columns'>
		  <h2>{%-if slide.invert-%}<span style='background-color:{{ slide.color }}; padding-left:10px; padding-right:10px; color:white; text-transform:capitalize;'>
		      {%-else-%}<span style='background-color:white; padding-left:10px; padding-right:10px; color:{{ slide.color }}; text-transform:capitalize;'>
			{%-endif-%}
		      {{slide.title}}</span><br/>{%-if slide.invert-%}<span style='color:{{ slide.color }};text-transform:lowercase;'>{%-else-%}
			<span style='text-transform:lowercase;'>{%-endif-%}
                  {{slide.info}}</span></h2>
                </div>
              </div>
            </div>
          {% endif %}
          <div class='buttons-wrapper {{slide.buttons.animation}}' style=''>
            <div class='row'>
              <div class='{{slide.buttons.class}} columns'>
                <!--<div class='two spacing'></div>-->
                {% for item in slide.buttons.items %}
                  <a target="_blank" class='button {{item.class}}' href='{{item.url}}'>{{item.text}}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class='full' style='background: #f5f5f5; padding-top:35px;'>
  <div class='row'>
    <div class='large-12 columns'>
      <!--<h4 style='font-size:20px; color: #353535'>Accelerate Science</h4>
      <h2 style='color:#1B56EA'>Advancing the application of AI for scientific discovery</h2>-->
      <div class='spacing'></div>
      <p style='font-size:20px; color: #353535'>
        The Accelerate Programme for Scientific Discovery is an interdisciplinary research team using machine learning to advance the frontiers of science. Based in Cambridge University’s Department for Computer Science and Technology, Accelerate Science’s work includes:
      </p>
    </div>
  </div>
  <!--<div class='spacing'></div>-->
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod'>
        <div class='boxes flex between'>
          {% for box in page.boxes %}
            <div class='box'>
              <!--<i class='{{box.icon_class}}'></i>-->
              <img style='max-width:50px; display:block; margin:0 auto; margin-bottom:25px;' src='{{site.baseurl}}/images/{{box.image}}'/>
              <h4>{{box.title}}</h4>
              <p>{{box.text}}</p>
              <a class="button small" href="{{site.baseurl}}/{{box.link}}">{{box.link_text}}</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>




<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <a class="twitter-timeline" data-height="340" data-link-color="#FAB81E" href="https://twitter.com/AccelerateSci?ref_src=twsrc%5Etfw">Tweets by AccelerateSci</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
    <div class='row'>
      <div class='medium-6 columns'>
        <div class='mod modTestimonials'>
          <div class='row'>
            <div class='two spacing'></div>
            <div class='small-12 columns'>
              <div class='items centered-text'>
                {% for t in page.latest_news  %}
                  <div class='item'>
                    <p class='author'>{{t.text}}</p>
                    <p class='quote'>{{t.title}}, {{t.date}}</p>
                    <a class="button small" href="{{site.baseurl}}/{{t.link}}">{{t.link_text}}</a>
                    <div class='two spacing'></div>
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class='spacing'></div>
          </div>
        </div>
      </div>
    </div>
    
    <!--<div class='medium-6 columns'>
      <div class='spacing'></div>
      <h4 style='color: #999'>Follow Us Across</h4>
      <h2>Our Social Channels</h2>
      <div class='spacing'></div>
      <p>This is the text about your Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <div class='spacing'></div>
      <a class='button small' href='#'>Learn more</a>
    </div>-->
  </div>
  <div class='four spacing'></div>
  <!--<div class='row'>
    <div class='medium-6 columns'>
      <div class='two spacing'></div>
      <h4 style='color: #999'>Simple</h4>
      <h2>Easy to use</h2>
      <div class='spacing'></div>
      <ul class='shortcode-list'>
        <li>
          <i class='fa fa-check'></i>
          This is a check list item, htis is a check list item
        </li>
        <li>
          <i class='fa fa-check'></i>
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit ipsum
        </li>
        <li>
          <i class='fa fa-check'></i>
          Sed diam nonummy nibh euismod tincidunt ut, lorem ipsum dolor sit amet
        </li>
        <li>
          <i class='fa fa-check'></i>
          Dolore magna aliquam erat volutpat consectetu amet magna adipiscing
        </li>
      </ul>
      <div class='spacing'></div>
      <a class='button small' href='#'>Learn more</a>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" width="500" height="400" alt="" src="images/@stock/circle-1.png" />
    </div>
  </div>
  <div class='four spacing'></div>-->
</div>


<!--<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns right-border left-border'>
        <div class='mod modMilestone no-icon'>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='four spacing'></div>
</div>-->
<!--<div class='full no-padding' style='background: rgb(27, 86, 234); color: #fff'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p>Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id..</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='boxed button' href='/'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>-->


 
</div>




