---
layout: page
title: Home
pagination:
    enabled: true
    collection: 'posts'
---

<section class="block block__hero block__hero--large" id="hero">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.3/dat.gui.min.js"></script>
    <script src="https://mrdoob.github.io/stats.js/build/stats.min.js"></script>

    <canvas id="c"></canvas>

    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.baseurl}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1>{{ site.data.homepage.hero.title }}</h1>
            <p>{{ site.data.homepage.hero.content }}</p>
            <a href="{{ site.data.homepage.hero.link }}" class="button button--white">Read More</a>
        </div>
    </div>
</section>

<section class="block block__latest">
    <div class="container">
        <div class="latest__upper row row--justified">
            <h2 class="section-heading">Latest Insights</h2>
            <a class="button button--large" href="/blog/">Show All</a>

            {% if paginator.page %}
                {% assign offset = paginator.page | minus:1 | times:paginator.per_page %}
                {% assign currentPage = paginator.page %}
            {% else %}
                {% assign offset = 0 %}
                {% assign currentPage = 1 %}
            {% endif %}


            <div class="latest__insights column-m-12-nest">
                <div id="blogContainer" class="posts__grid post__grid postContainer" data-page="{{ currentPage }}" data-totalpages="{{ paginator.total_pages }}">
                    {% for post in site.posts limit:8 offset:offset %}
                        <a class="post__post post__post--standard" href="{{ post.url }}">
                            <div class="post__post-thumbnail">
                                <img src="{{ post.featured_image }}">
                            </div>
                            <div class="post__post-content">
                                <h4>{{ post.category | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</h4>
                                <h3>{{ post.title}}</h3>
                                <p class="date">{{ post.date | date: "%-d %B %Y" }}</p>
                                <span class="button">Read More</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>

                {% assign postCount = site.posts | size %}
                {% assign postsCovered = 8 | plus:offset %}
                {% if postsCovered < postCount %}
                    <div class="posts__load-more">
                        <span></span>
                        <button class="button button--large loadMore">
                            Show More
                            <img src="../assets/images/plus.svg">
                        </button>
                        <span></span>
                    </div>
                {% endif %}

                <script>
                    $(".loadMore").click(loadMorePosts);

                    function loadMorePosts() {
                        var _this = this;
                        var $blogContainer = $("#blogContainer");
                        var nextPage = parseInt($blogContainer.attr("data-page")) + 1;
                        var totalPages = parseInt($blogContainer.attr("data-totalPages"));
                        $("#blogContainer").attr('data-page', nextPage);
                        $(this).addClass("loading");

                        $.get("/page/" + nextPage + "/blog.html", function (data) {
                            var htmlData = $.parseHTML(data);
                            var $articles = $(htmlData).find(".post__post--standard");
                            $blogContainer.append($articles);
                            if ($blogContainer.attr("data-totalPages") == nextPage) {
                                $(".loadMore").closest(".posts__load-more").remove();
                            }
                            $(_this).removeClass("loading");
                        });
                    }
                </script>
            </div>
        </div>
        <div class="latest__lower row row--justified">
            <div class="latest__news column-m-12-nest column-t-8">
                <h2 class="section-heading">Latest News</h2>
                <div class="post__grid post__grid--col2">
                    {% for post in site.news limit:2 %}
                        <a class="post__post post__post--standard" href="{{ post.url }}">
                            <div class="post__post-thumbnail">
                                <img src="{{ post.featured_image }}">
                            </div>
                            <div class="post__post-content">
                                <h4>{{ post.category | replace: "-", " " | replace: "[", "" | replace: "]", "" | replace: '"', "" }}</h4>
                                <h3>{{ post.title}}</h3>
                                <p class="date">{{ post.date | date: "%-d %B %Y" }}</p>
                                <span class="button">Read More</span>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="latest__tweets column-m-12-nest column-t-4">
                <h2 class="section-heading">Latest Tweets</h2>
                <a class="twitter-timeline" data-height="500" href="https://twitter.com/AccelerateSci?ref_src=twsrc%5Etfw">Tweets by AccelerateSci</a>
                <script async charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
            </div>
        </div>
    </div>
</section>

<section class="block block__accordions">
    <div class="container">
        <div class="row row--justified">
            <div class="accordions__selectors column-m-12-nest column-t-4-nest">
                <button class="active" data-accordion-id="what-we-do">
                    <img src="./assets/uploads/what-we-do.png">
                    What we do
                </button>
                <button data-accordion-id="research">
                    <img src="./assets/uploads/research.png">
                    Research
                </button>
                <button data-accordion-id="education-training">
                    <img src="./assets/uploads/education-and-training.png">
                    Education & Training
                </button>
                <button data-accordion-id="engagement">
                    <img src="./assets/uploads/engagement.png">
                    Engagement
                </button>
            </div>
            <div class="accordions__window column-m-12-nest column-t-7-nest column-d-6-nest">
                <div class="accordions__accordion active" data-accordion-content="what-we-do">
                    <h3>Amidst growing excitement about AI, a gap has emerged between our aspirations for AI and our ability to deploy these technologies to tackle real-world challenges.
                    </h3>
                    <p>ML@CL aims to bridge this gap through innovations in modelling, systems and software engineering for machine learning deployment; the application of AI for scientific discovery; and the development of policy frameworks for trustworthy and beneficial AI.</p>
                    <a class="button" href="#">Read More</a>
                </div>

                <div class="accordions__accordion" data-accordion-content="research">
                    <h3>Amidst growing excitement about AI, a gap has emerged between our aspirations for AI and our ability to deploy these technologies to tackle real-world challenges.
                    </h3>
                    <p>ML@CL aims to bridge this gap through innovations in modelling, systems and software engineering for machine learning deployment; the application of AI for scientific discovery; and the development of policy frameworks for trustworthy and beneficial AI.</p>
                    <a class="button" href="#">Read More</a>
                </div>

                <div class="accordions__accordion" data-accordion-content="education-training">
                    <h3>Amidst growing excitement about AI, a gap has emerged between our aspirations for AI and our ability to deploy these technologies to tackle real-world challenges.
                    </h3>
                    <p>ML@CL aims to bridge this gap through innovations in modelling, systems and software engineering for machine learning deployment; the application of AI for scientific discovery; and the development of policy frameworks for trustworthy and beneficial AI.</p>
                    <a class="button" href="#">Read More</a>
                </div>

                <div class="accordions__accordion" data-accordion-content="engagement">
                    <h3>Amidst growing excitement about AI, a gap has emerged between our aspirations for AI and our ability to deploy these technologies to tackle real-world challenges.
                    </h3>
                    <p>ML@CL aims to bridge this gap through innovations in modelling, systems and software engineering for machine learning deployment; the application of AI for scientific discovery; and the development of policy frameworks for trustworthy and beneficial AI.</p>
                    <a class="button" href="#">Read More</a>
                </div>
            </div>
        </div>
    </div>
</section>