---
layout: page
title: Machine Learning Clinic
---

{% assign hero_title = site.data.machine-learning-clinic.hero.title %}
{% assign hero_content = site.data.machine-learning-clinic.hero.content %}
{% assign hero_link = site.data.machine-learning-clinic.hero.link %}

{% assign text_dual_column_heading = site.data.machine-learning-clinic.text_dual_column.heading %}
{% assign text_dual_column_content = site.data.machine-learning-clinic.text_dual_column.content %}
{% assign text_dual_column_link = site.data.machine-learning-clinic.text_dual_column.link %}

{% assign text_heading = site.data.machine-learning-clinic.text.heading %}
{% assign text_text = site.data.machine-learning-clinic.text.text %}

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            {% if hero_title.size >= 1 %}
            <h1 class="no-margin">{{ hero_title }}</h1>
            {% endif %}

            {% if hero_content.size >= 1 %}
            <p>{{ hero_content }}</p>
            {% endif %}

            {% if hero_link.size >= 1 %}
            <a href="{{ hero_link }}" class="button button--white">Read More</a>
            {% endif %}
        </div>
    </div>
</section>

<section class="block block__text block__text--dual-column">
    <div class="container">
        {% if text_dual_column_heading.size >= 1 %}
        <h2 class="section-heading">{{ text_dual_column_heading }}</h2>
        {% endif %}
        {% if text_dual_column_heading.size >= 1 %}
        <div class="text__content">
            <p>This new initiative seeks to support Cambridge University researchers using AI in their research, by helping resolve engineering issues they might encounter when implementing machine learning methods.</p>
            <p>Software engineering queries can arise across the research pipeline, from writing proposals to implementing and deploying models, and the Clinic will provide support to troubleshoot those issues.</p>
            <p>When you contact the Clinic, an experienced Engineer can offer advice or guidance on how to resolve your query. Simply log your issue via the Clinic's form and one of the Clinic's engineers will follow-up to arrange a meeting to either further discuss the issue if needed or to discuss a potential solution.</p>
            <p>
                Log your issues at the ML Engineering Clinic's
                <a href="https://eur03.safelinks.protection.outlook.com/?url=https%3A%2F%2F7kuzlokgqop.typeform.com%2Fto%2FWPAlgLli&data=05%7C01%7Cjkm40%40universityofcambridgecloud.onmicrosoft.com%7C2fa3070dd3cd49d86c0d08da94ae858e%7C49a50445bdfa4b79ade3547b4f3986e9%7C0%7C0%7C637985774554821222%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=1ENYNSSjEi31pgWEwa22fHYW9tdwaDlinVnEIb51hic%3D&reserved=0" rel="noreferrer" target="_blank">form</a>
                and we will get back to you soon!
            </p>
            <p>For further information about how to engage with the Clinic, and what support is on offer, please read the FAQs below.</p>
        </div>
        {% endif %}
    </div>
</section>

<section class="block block__text">
    <div class="container">
        {% if text_heading.size >= 1 %}
        <h2 class="section-heading">{{ text_heading }}</h2>
        {% endif %}
        {% if text_text.size >= 1 %}
        <div class="text__content">
            {{ text_text }}
        </div>
        {% endif %}
    </div>
</section>