---
layout: page
title: Projects
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Projects</h1>
        </div>
    </div>
</section>

<section class="block block__projects">
    <div class="container">
        <h2 class="section-heading">Our Projects</h2>
    </div>
</section>