---
layout: page
title: Research
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.baseurl}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Research</h1>
        </div>
    </div>
</section>

<section class="block block__posts">
    <div class="container">
        <div class="posts__grid post__grid post__grid--col3">
            <a class="post__post post__post--standard" href="#">
                <div class="post__post-thumbnail">
                    <img src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>Mental Health</h4>
                    <h3>Understanding mental health with data science</h3>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post post__post--standard" href="#">
                <div class="post__post-thumbnail">
                    <img src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>Human Development</h4>
                    <h3>Building an atlas of human development</h3>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post post__post--standard" href="#">
                <div class="post__post-thumbnail">
                    <img src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>Complex Systems</h4>
                    <h3>Analysing complex systems</h3>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post post__post--standard" href="#">
                <div class="post__post-thumbnail">
                    <img src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>Biological Systems</h4>
                    <h3>Exploring the dynamics of biological systems</h3>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post post__post--standard" href="#">
                <div class="post__post-thumbnail">
                    <img src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>Theoretical Physics</h4>
                    <h3>Understanding String Theory using big data</h3>
                    <span class="button">Read More</span>
                </div>
            </a>
        </div>
    </div>
</section>