---
layout: page
title: Resources
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.baseurl}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Resources</h1>
        </div>
    </div>
</section>

<section class="block block__resources">
    <div class="container">
        <div class="resources__filter">
            <span>Filter:</span>
            <button class="all active" data-resources-id="all">All</button>
            <button class="blue" data-resources-id="teaching-learning">Teaching & Learning</button>
            <button class="green" data-resources-id="software-code">Software & Code</button>
            <button class="yellow" data-resources-id="additional-resources">Additional Resources</button>
        </div>
        <div class="resources__grid">
            <a class="resources__resource resources__resource--blue" data-resources-value="teaching-learning" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--green" data-resources-value="software-code" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--green" data-resources-value="software-code" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--yellow" data-resources-value="additional-resources" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--blue" data-resources-value="teaching-learning" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--blue" data-resources-value="teaching-learning" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--blue" data-resources-value="teaching-learning" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--yellow" data-resources-value="additional-resources" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--yellow" data-resources-value="additional-resources" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>
        </div>
    </div>
</section>