---
layout: page
title: Software Engineering
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Software Engineering</h1>
        </div>
    </div>
</section>

<section class="block block__text block__text--dual-column">
    <div class="container">
        <h2 class="section-heading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at fermentum urna.</h2>
        <div class="text__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at fermentum urna. Sed congue nisl sed ultricies gravida. Curabitur fringilla nulla vitae orci laoreet, at dictum justo ultricies. Donec imperdiet, magna vitae bibendum faucibus, elit mi elementum nibh, eget fermentum tortor nibh vel diam. Vivamus eu maximus tellus. Pellentesque eu ex nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at fermentum urna. Sed congue nisl sed ultricies gravida. Curabitur fringilla nulla vitae orci laoreet, at dictum justo ultricies. Donec imperdiet, magna vitae bibendum faucibus, elit mi elementum nibh, eget fermentum tortor nibh vel diam. Vivamus eu maximus tellus. Pellentesque eu ex nisl.</p>
        </div>
    </div>
</section>

<section class="block block__media-text block__media-text--large">
    <div class="container container--float container--float-right">
        <div class="row row--justified">
            <div class="media-text__media">
                <img src="../assets/images/placeholder.jpg">
            </div>
            <div class="media-text__content">
                <h2 class="section-heading">Machine Learning Clinic</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis enim ac arcu cursus, malesuada tincidunt nulla hendrerit. Quisque eu gravida massa.</p>
                <a class="button" href="#">Read More</a>
            </div>
        </div>
    </div>
</section>

<section class="block block__media-text block__media-text--large block__media-text--flipped">
    <div class="container container--float container--float-left">
        <div class="row row--justified">
            <div class="media-text__content">
                <h2 class="section-heading">Data Engineering School</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam mollis enim ac arcu cursus, malesuada tincidunt nulla hendrerit. Quisque eu gravida massa.</p>
                <a class="button" href="#">Read More</a>
            </div>
            <div class="media-text__media">
                <img src="../assets/images/placeholder.jpg">
            </div>
        </div>
    </div>
</section>

<section class="block block__related-posts">
    <div class="container">
        <h2 class="section-heading">Related Content</h2>
        <div class="post__grid">
            <a class="post__post" href="#">
                <div class="post__post-thumbnail">
                    <img alt="" src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>INSIGHT CATEGORY</h4>
                    <h3>Policies for places as well as people</h3>
                    <p class="date">20th July, 2022</p>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post" href="#">
                <div class="post__post-thumbnail">
                    <img alt="" src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>INSIGHT CATEGORY</h4>
                    <h3>Accelerating pre-CoP27 Paris Agreement compliance</h3>
                    <p class="date">20th July, 2022</p>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post" href="#">
                <div class="post__post-thumbnail">
                    <img alt="" src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>INSIGHT CATEGORY</h4>
                    <h3>How much is a dataset worth?</h3>
                    <p class="date">20th July, 2022</p>
                    <span class="button">Read More</span>
                </div>
            </a>

            <a class="post__post" href="#">
                <div class="post__post-thumbnail">
                    <img alt="" src="../assets/images/placeholder.jpg">
                </div>
                <div class="post__post-content">
                    <h4>INSIGHT CATEGORY</h4>
                    <h3>Biodiversity loss may push developing world closer to default</h3>
                    <p class="date">20th July, 2022</p>
                    <span class="button">Read More</span>
                </div>
            </a>
        </div>
        <span class="divider divider--bottom"></span>
    </div>
</section>

<section class="block block__related-resources">
    <div class="container">
        <h2 class="section-heading">Related Resources</h2>
        <div class="resources__grid">
            <a class="resources__resource resources__resource--blue" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--green" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>

            <a class="resources__resource resources__resource--green" href="#">
                <div>
                    <h3>Understanding mental health with data science</h3>
                </div>
                <span class="button">Read More</span>
            </a>
        </div>
    </div>
</section>