// Generic Latest Block
.block__posts {
	margin: 9rem 0;

	.posts__featured {
		margin-bottom: 5rem;
		padding-bottom: 8rem;
		border-bottom: 1px solid $regular-grey;
	}

	.posts__filter {
		margin-bottom: 4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;

		div {
			display: flex;
			align-items: center;

			h5 {
				margin: 0 2.5rem 0 0;
				font-size: 1.6rem;
				line-height: 2.1rem;
				color: $dark-green;
			}

			input,
			select {
				width: 360px;
				height: 50px;
				margin: 0;
				padding: 1rem 2rem;
				background-color: transparent;
				border: 1px solid $regular-grey;
				font-size: 1.6rem;
				line-height: 2.1rem;
				color: $darkest-grey;

				&::placeholder,
				option {
					font-size: 1.6rem;
					line-height: 2.1rem;
					color: $darkest-grey;
				}
			}
		}
	}

	.posts__load-more {
		margin-top: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;

		.button {
			margin: 0 1rem;
			border: none;
		}

		span {
			width: auto;
			height: 1px;
			flex: 1;
			background-color: $regular-grey;
		}
	}
}

// Posts Grid
.post__grid {
	margin: 0 -2rem -4rem -2rem;
	display: flex;
	flex-wrap: wrap;

	&.post__grid--col2 {

		.post__post {
			width: calc(50% - 4rem);
		}
	}
}

// Post Grid Item
.post__post {
	width: calc(25% - 4rem);
	margin: 0 2rem 4rem 2rem;
	text-decoration: none;

	&-thumbnail {
		width: 100%;
		height: auto;
		margin-bottom: 3rem;
		position: relative;
		border-radius: 12px;
		overflow: hidden;

		&::before {
			content: "";
			padding-top: 56.25%;
			display: block;
		}

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			object-fit: cover;
		}
	}

	&-content {
		padding: 0 2rem;

		h4 {
			margin-bottom: 2rem;
			font-size: 1.2rem;
			line-height: 1.6rem;
			text-transform: uppercase;
		}

		h3 {
			margin-bottom: 1rem;
			font-size: 2.4rem;
			line-height: 3.1rem;
		}

		.date {
			margin: 0 0 1rem 0;
			font-size: 1.6rem;
			line-height: 2.1rem;
		}

		.button {
			margin-top: 2rem;
		}
	}

	&.post__post--featured {
		width: 100%;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.post__post-thumbnail {
			width: 50%;
			margin: 0;

			&::before {
				display: none;
			}

			img {
				width: 100%;
				height: auto;
				max-height: 440px;
				position: relative;
				top: unset;
				left: unset;
				display: block;
			}
		}

		.post__post-content {
			width: 50%;
			padding: 5rem 10rem;
		}
	}
}

// Post Single Content
.block__post-single {
	margin: 7.5rem 0 10rem 0;

	article {

		header.post-single__header {
			margin-bottom: 8rem;

			.post-single__header-back {
				margin-bottom: 9rem;
				display: flex;
				align-items: center;
				font-size: 2rem;
				line-height: 2.6rem;
				text-decoration: none;

				svg {
					transform: rotate(90deg);
				}

				p {
					margin: 0 0 0 1.5rem;
					font-size: 2rem;
					line-height: 2.6rem;
					color: $primary-blue;
				}
			}

			.post-single__header-heading {
				padding-bottom: 10rem;
				border-bottom: 5px solid $green;

				h1 {
					margin-bottom: 0;
					font-size: 4.8rem;
					line-height: 6.8rem;
					color: $primary-blue;
				}
			}

			.post-single__header-socials {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;

				a {
					margin-bottom: 2.5rem;
					text-decoration: none;

					&:last-of-type {
						margin-bottom: 0;
					}

					svg,
					img {
						width: 60px;
						height: 60px;
						display: block;
					}
				}
			}
		}

		body.post-single__body {}
	}
}

// Resources Grid
.resources__grid {
	margin: 0 -2rem -4rem -2rem;
	display: flex;
	flex-wrap: wrap;
}

.resources__resource {
	width: calc(33.33% - 4rem);
	min-height: 270px;
	margin: 0 2rem 4rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border: 2px solid $blue;
	border-radius: 12px;
	text-decoration: none;
	padding: 5rem 4rem;

	&.resources__resource--yellow {
		border-color: $yellow;
	}

	&.resources__resource--green {
		border-color: $green;
	}

	h3 {
		margin-bottom: 4rem;
		font-size: 2.4rem;
	}

	.button {
		font-size: 1.6rem;
	}
}