---
layout: page
title: Get Involved
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Get Involved</h1>
        </div>
    </div>
</section>

<section class="block block__current-opportunities">
    <div class="container">
        <div class="row row--justified">
            <div class="column-m-12-nest column-t-6 column-d-7">
                <h2 class="section-heading">Current Opportunities</h2>
                <ul class="current-opportunities__list">
                    {% for item in site.opportunities %}
                        <li class="current-opportunities__listing">
                            <h3>{{ item.title }}</h3>
                            {{ item.excerpt | markdownify }}
                            <a class="button" href="{{ item.url }}">Read More</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="column-m-12-nest column-t-5 column-d-4">
                <h2 class="section-heading">Get In Touch</h2>
                <div class="current-opportunities__contact">
                    <div class="current-opportunities__contact-address">
                        <img src="../assets/images/address.svg">
                        <div>
                            {{ site.data.site.contact_details.address | markdownify }}
                        </div>
                    </div>
                    <div class="current-opportunities__contact-email">
                        <img src="../assets/images/email.svg">
                        <div>
                            <a href="mailto:{{ site.data.site.contact_details.email }}">{{ site.data.site.contact_details.email }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>