<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% seo %}
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>

    <!-- Google tag (gtag.js) -->
    <script async src=https://www.googletagmanager.com/gtag/js?id=G-HHTDG8HW9M></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-HHTDG8HW9M'); </script>
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__hero">
            <div class="container">
                <div class="hero__head row row--justified row--middle">
                    <a href="{{site.url}}" class="brand">
                        <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                    </a>
                    {% include menu-trigger.html %}
                    {% include nav-primary.html %}
                </div>

                <div class="hero__content">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </section>

        <section class="block block__overview">
            <div class="container no-border">
                <div class="row row--justified">
                    <div class="overview__heading column-m-12-nest column-t-3">
                        <h2 class="section-heading">Job Overview</h2>
                    </div>
                    <div class="overview__content column-m-12-nest column-t-8">
                        {{ content | markdownify }}
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>