---
layout: page
title: Past Events
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Past Events</h1>
            <a class="button button--white" href="/events.html">View upcoming events</a>
        </div>
    </div>
</section>

<section class="block block__posts">
    <div class="container">
        {% assign todayDate = 'now' | date: '%Y%m%d' %}
        {% assign events = site.events | sort: "date" %}

        <div class="posts__grid post__grid">
            {% for post in events %}
                {% assign eventDate = post.event_date | date: '%Y%m%d' %}
                {% if todayDate > eventDate %}
                    <a class="post__post post__post--standard" href="{{ post.url }}">
                        <div class="post__post-thumbnail">
                            <img src="{{ post.image }}">
                        </div>
                        <div class="post__post-content">
                            <h3>{{ post.title}}</h3>
                            <p class="date">{{ post.event_date | date: "%-d %B %Y" }}</p>
                            <span class="button">Read More</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

{% assign currentDate = 'now' | date: '%Y%m%d' %}
{% for item in site.events %}
    {% assign eventEndDate = item.end | date: '%Y%m%d' %}
    {% if currentDate > eventEndDate %}
        {% assign eventsCheck = true %}
    {% endif %}
{% endfor %}

<section class="block block__posts">
    <div class="container">

        {% if eventsCheck == true %}
            {% assign currentDate = 'now' | date: '%Y%m%d' %}
            {% assign events = site.events %}
            <div class="posts__grid post__grid">
                {% for post in events %}
                    {% assign eventEndDate = post.end | date: '%Y%m%d' %}

                    {% if currentDate > eventEndDate %}
                        <a class="post__post post__post--standard" href="{{ post.url }}">
                            <div class="post__post-thumbnail">
                                {% if post.image != nil %}
                                    <img src="{{ post.image }}">
                                {% else %}
                                    <img class="placeholder-image" src="{{site.baseurl}}/assets/images/placeholder.png">
                                {% endif %}
                            </div>
                            <div class="post__post-content">
                                <h3>{{ post.title}}</h3>
                                <p class="date">Starts:
                                    {{ post.start | date: '%Y/%m/%d' }}
                                    at
                                    {{ post.start | date: '%H:%M' }}</p>
                                <p class="date">Ends:
                                    {{ post.end | date: '%Y/%m/%d' }}
                                    at
                                    {{ post.end | date: '%H:%M' }}</p>
                                <span class="button">Read More</span>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>

        {% else %}
            <h2>Apologies, there are no previous events to display.</h2>
        {% endif %}
    </div>
</section>