---
layout: page
title: Publications
pagination:
    enabled: true
    collection: 'publications'
    indexpage: 'publications'
---

<section class="block block__hero">
    <div class="container">
        <div class="hero__head row row--justified row--middle">
            <a href="{{site.url}}" class="brand">
                <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
            </a>
            {% include menu-trigger.html %}
            {% include nav-primary.html %}
        </div>

        <div class="hero__content">
            <h1 class="no-margin">Publications</h1>
        </div>
    </div>
</section>

<section class="block block__posts">
    <div class="container">
        <div class="posts__list post__list">
            {% assign items = site.publications | reverse %}
            {% for post in items %}
                <a class="post__post post__post--publication" href="{{ post.url }}">
                    <div class="post__post-content">
                        <h3>{{ post.title}}</h3>
                        <h4>{{ post.published | replace: "-", "/" }}</h4>
                        <div class="authors">
                            {% for author in post.authors.internal_authors %}
                                {% assign authorName = author %}
                                {% for person in site.team %}
                                    {% if person.slug == authorName or person.name == authorName %}
                                        <p>
                                            {{ person.name }},
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            {% for author in post.authors.external_authors %}
                                <p>
                                    {{author.given}}
                                    {{author.family}},
                                </p>
                            {% endfor %}
                            {% for author in post.authors.consortium_authors %}
                                <p>{{author.name}},</p>
                            {% endfor %}
                        </div>
                        {% if post.details.journal != nil or post.published != nil or post.details.pages != nil %}
                            <p class="journal">
                                {{post.details.journal}}
                                {% if post.published != nil %}
                                    ({{post.published | slice: 0, 4 }})
                                {% endif %}
                                {{post.details.pages}}
                            </p>
                        {% endif %}
                        {% if post.details.doi != nil %}
                            <p class="doi">
                                DOI:
                                {{post.details.doi}}
                            </p>
                        {% endif %}
                    </div>
                    <span class="button">Read Paper</span>
                </a>
            {% endfor %}
        </div>
    </div>
</section>