<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>Accelerate</title>
    <link rel="stylesheet" type="text/css" href="{{site.baseurl}}/assets/css/style.css">
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-3.6.0.min.js"></script>
</head>

<body class="layout-{{ page.layout }}{% if page.title %}  {{ page.title | slugify }}{% endif %}">
    {% include site-header.html %}
    <main class="main">
        <section class="block block__hero block__hero--medium" id="hero">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.3/dat.gui.min.js"></script>
            <script src="https://mrdoob.github.io/stats.js/build/stats.min.js"></script>

            <canvas id="c"></canvas>

            <div class="container">
                <div class="hero__head row row--justified row--middle">
                    <a href="{{site.url}}" class="brand">
                        <img class="brand" src="{{ site.data.site.site_logo }}" alt="Logo">
                    </a>
                    {% include menu-trigger.html %}
                    {% include nav-primary.html %}
                </div>

                <div class="hero__content">
                    <a href="{{site.url}}/research/" class="button button--back">
                        <svg width="20px" height="12px" viewBox="0 0 20 12" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Home-Concept-v1.0-b" transform="translate(-1583.000000, -759.000000)" fill="#DB3900">
                                    <g id="Down" transform="translate(1583.000000, 759.000000)">
                                        <rect id="Rectangle" x="8" y="8" width="4" height="4"></rect>
                                        <rect id="Rectangle" x="4" y="4" width="4" height="4"></rect>
                                        <rect id="Rectangle" x="0" y="0" width="4" height="4"></rect>
                                        <rect id="Rectangle" x="12" y="4" width="4" height="4"></rect>
                                        <rect id="Rectangle" x="16" y="0" width="4" height="4"></rect>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <p>Back to research</p>
                    </a>
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </section>

        <section class="block block__research-overview">
            <div class="container">
                <div class="row row--justified">
                    <div class="research-overview__heading column-m-12-nest column-t-3">
                        <h2 class="section-heading">Research Overview</h2>
                    </div>
                    <div class="research-overview__content column-m-12-nest column-t-8">
                        {{ page.overview_short | markdownify }}
                    </div>
                </div>
            </div>
        </section>

        {% if page.people != nil %}
        <section class="block block__related-people">
            <div class="container">
                <h2 class="section-heading">Related People</h2>
                <div class="team__grid">
                    {% for item in page.people %}
                    {% assign people_slug = item %}
                    {% for item in site.team %}
                    {% if item.slug == people_slug %}
                    <div class="team__member">
                        <div class="team__member-image">
                            <img src="{{item.image}}" alt="Image of {{item.title}}">
                        </div>
                        <div class="team__member-details">
                            <h3>{{ item.title }}</h3>
                            <p>{{ item.description }}</p>
                            <a class="button" href="#">Read Bio</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </section>
        {% endif %}

        <section class="block block__related-papers">
            <div class="container">
                <h2 class="section-heading">Related Papers</h2>
                <div class="papers__grid">
                    <a href="#" class="papers__item">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus ipsum, hendrerit sed velit et, facilisis scelerisque nibh. Sed maximus nibh id rhoncus maximus.</h3>
                        <p class="date">20th July, 2022</p>
                        <p class="author">Author name 1, Author name 2</p>
                        <p class="reference">Curr Opin Cell Biol (2020 ) 52:145–153. DOI: 10.1016/ j.ceb.2018.03.009.</p>
                        <span class="button">Read Paper</span>
                    </a>

                    <a href="#" class="papers__item">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus ipsum, hendrerit sed velit et, facilisis scelerisque nibh. Sed maximus nibh id rhoncus maximus.</h3>
                        <p class="date">20th July, 2022</p>
                        <p class="author">Author name 1, Author name 2</p>
                        <p class="reference">Curr Opin Cell Biol (2020 ) 52:145–153. DOI: 10.1016/ j.ceb.2018.03.009.</p>
                        <span class="button">Read Paper</span>
                    </a>

                    <a href="#" class="papers__item">
                        <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lectus ipsum, hendrerit sed velit et, facilisis scelerisque nibh. Sed maximus nibh id rhoncus maximus.</h3>
                        <p class="date">20th July, 2022</p>
                        <p class="author">Author name 1, Author name 2</p>
                        <p class="reference">Curr Opin Cell Biol (2020 ) 52:145–153. DOI: 10.1016/ j.ceb.2018.03.009.</p>
                        <span class="button">Read Paper</span>
                    </a>
                </div>
            </div>
        </section>

        <section class="block block__related-projects">
            <a href="#" class="related-projects__project related-projects__project--prev">
                <p>Prev Project</p>
                <h2>Understanding mental health with data science</h2>
            </a>
            <a href="#" class="related-projects__project related-projects__project--next">
                <p>Next Project</p>
                <h2>Understanding mental health with data science</h2>
            </a>
        </section>
    </main>
    {% include site-footer.html %}
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/main.js"></script>
</body>

</html>