---
layout: default
---

<style>
  .box{padding:25px; margin-bottom:25px;}
</style>

<div class='full title' style='background-image:url(images/headers/resources.jpg); min-height:250px'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2 style='letter-spacing: 2px;font-size: 4.28571rem; color: rgb(255, 255, 255); text-transform:capitalize'>Resources</h2>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <!--<h4 style='color: #999'>We focus on</h4>-->
      {{ contents }}
    </div>
  </div>
</div>


  <div class='row'>
    <div class='large-12 columns'>
      <div class='spacing'></div>
  <div class='flex between'>
    <a class="button small" href="#teaching">Teaching and Learning</a>
    <a class="button small" href="#software">Software &amp; Code</a>
    <a class="button small" href="#additional">Additional Resources</a>
  </div>
  <div class='spacing'></div>
</div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999' id='teaching'>Teaching and Learning</h4>
      <div class='spacing'></div>
      <div class='mod'>
        <div>
          {% for item in site.resources %}{% if item.teaching %}
            <div class='box' style='background: #f9f9f9;'>
              <h4>{{item.title}}</h4>
              <p>{{item.desc}}</p>
              <a href='{{item.link_to}}'>{{item.link_text}}</a>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999' id='software'>Software &amp; Code</h4>
      <div class='spacing'></div>
      <div class='mod'>
        <div>
          {% for item in site.resources %}{% if item.software %}
            <div class='box' style='background: #f9f9f9;'>
              <h4>{{item.title}}</h4>
              <p>{{item.desc}}</p>
              <a href='{{item.link_to}}'>{{item.link_text}}</a>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <h4 style='color: #999' id='additional'>Additional Resources</h4>
      <div class='spacing'></div>
      <div class='mod'>
        <div>
          {% for item in site.resources %}{% if item.additional %}
            <div class='box' style='background: #f9f9f9;'>
              <h4>{{item.title}}</h4>
              <p>{{item.desc}}</p>
              <a href='{{item.link_to}}'>{{item.link_text}}</a>
            </div>
          {% endif %}{% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
